body {
  background-color: #272D2D;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #EDF5FC;
  width: 250px;
  align-self: center;
}
.title {
  color: crimson;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph{
  background-color: lightgrey;
  width: 300px;
  border-radius: 5px;
  font-size: 15px;
  color: #23CE6B;
}

.sankalp {
  height: 275px;
  border: double green;
}

.scheule {
  border: double;
}

#one {
  background-color: lightblue;
}